.contact_form{
    height: 625px;
    position: relative;
}

.contact_container{
    height: 460px;
    width: 60%;
    background-color: rgb(170, 169, 175);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 0 21% 1% 0 ;
}

.input_description{
    margin: 0 22.5% 1% 0 ;
}

.input input, .input textarea{
    width: 200%;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 15px;
    outline: none;
}

.input textarea{
    width: 220%;
}

.input label{
    font-weight: bold;
}

.contact_button{
    width: 10%;
    margin: 1% 0;
}